<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">.
        <img class="d-flex mr-3 img-thumbnail" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <h5 class="mt-0 mb-1"><%= user.name %></h5>
          <p><% link_to 'View Profile', user_path(user) %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>