<% if logged_in? %>
  <p>ログイン完了ユーザー: <%= current_user.name %></p>

<% else %>
  <div class="center jumbotron text-center">
    <h1>Task List</h1>
    <p class="lead">For Simple & Easy Task Management</p>
    <hr class="my-4"> 
      <p class="text-danger">New User?</p>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-primary btn-block' %>
  </div>
<% end %>